%p#notice= notice
.well
  %p
    %b Name:
    = @registration.name
  %p
    %b Email:
    = @registration.email

- if @registration.denied?
  .alert.alert-warning
    This user was not allowed to post their message due to inappropriate content.
-else
  .well
    %h4 Comment:
    %p.paper
      = @registration.comment

