.well
  %table.table
    %thead
      %tr
        %th Name
        %th Logo
        %th Registration

    %tbody
      %tr
        %td= @company.name
        %td= image_tag @company.logo, class: 'logo'
        %td= link_to 'View Registration', @company.registration, class: 'btn btn-info'
