// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.error{
  border: 3px solid red 
}

.good{
  border: 0px 
}

.nameError{
  color: red
}

.paper{
  width:100%;
  background-image: url('/assets/paper.jpg'); 
  height:400px;
  padding: 4px;
}
